.indicator
{
    padding: 40px;
    margin: 5px;
    text-align: center;
}

.danger
{
    background-color: red;
}

.warning
{
    background-color: yellow;
}


.safe
{
    background-color: green;
}



.inactive
{
    display: none;
}

footer
{
    background-color: #1c73ff;
    color: #fff;
    margin-top: 40px;
    padding: 40px;
}


